* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    height: 90px;
    background-image: linear-gradient(to top, #051732, #062e60, #094791, #1461c6, #267cfd);
}

header .logo {
    font-size: 28px;
    font-weight: 900;
    padding: 18px;
    color: #090979;
}

header nav {
    display: flex;
    justify-content: space-between;
} 

header nav .ullist {
    display: flex;
    padding-top: 18px;
}

header nav .ullist a {
    margin-left: 60px;
    border-bottom: 2px solid transparent;
    color: #090979;
    font-size: 22px;
    font-weight: 500;
}

header nav .ullist a:hover {
    border-bottom: 2px solid black;
    transition: ease-in-out 0.3s;
}

main #elebrakc h1, h2 {
    text-align: center;
}

main #elebrakc {
    text-indent: 30px;
    background-image: linear-gradient(to bottom, #051732, #062e60, #094791, #1461c6, #267cfd);
    padding-bottom: 22px;
}

main #elebrakc div {
    display: flex;
    justify-content: space-around;
    height: 360px;
}

main #elebrakc img {
    border-radius: 10%;
}

main #buratto h1, h2 {
    text-align: center;
}

main #buratto {
    text-indent: 30px;
    background-image: linear-gradient(to top, #051732, #062e60, #094791, #1461c6, #267cfd);
    padding-bottom: 22px;
}

main #buratto div {
    display: flex;
    justify-content: space-around;
    height: 360px;
}

main #buratto img {
    border-radius: 10%;
}

main #vitinho h1, h2 {
    text-align: center;
}

main #vitinho {
    text-indent: 30px;
    background-image: linear-gradient(to bottom, #051732, #062e60, #094791, #1461c6, #267cfd);
    padding-bottom: 22px;
}

main #vitinho div {
    display: flex;
    justify-content: space-around;
    height: 360px;
}

main #vitinho img {
    border-radius: 10%;
}